# Ignorar entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Base de datos generada automáticamente
data/chatbot.db

# Configuraciones del editor
.vscode/
.idea/

# Otros archivos innecesarios
*.log
.DS_Store
.env